h1 {
  font-size: 45px;
}

a {
  text-decoration: none;
  color: inherit;
}

.tile {
  max-width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 15px;
  border-radius: 10px;
  text-transform: capitalize;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.selected {
  background-color: white;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  align-items: center;
}

.sprite {
  width: 200px;
}

.pokeStats {
  text-align: left;
}

#flavor-text {
  text-transform: none;
}
