.dragon {
  background-color: orange;
}

.grass {
  background-color: green;
}

.tile {
  max-width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 15px;
  border-radius: 10px;
}
